

<h2>Hotels</h2>
<h3>Filter by location</h3>
<%= select_tag(
  'location',
  options_for_select(
    @hotels.map{ |p| [p.location, p.location] }
  ),
  prompt: "Filter by Location",
  id: 'location_dropdown',
  data: {
    remote: true,
    url: '/filter_by_location',
    method: 'get'
  }
) %>

<div id="hotels">
  <%= render 'hotel_bookings/hotel_data', hotels: @hotels %>
</div>


